<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOOD HEALTH GOOD LIFE</title>
  <link rel="icon" type="image/png" href="https://uppic.cc/d/6s5D" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 200%;
      color: #f5f6f7;
      margin-top: 0;
    }
    .head{
      font-size: 25px;
      color: #1abc9c;
    }
    #aboutMe {
      background-color: #A0E0E3;
      color: #ffffff;
      padding: 40px;
    }
    
    #aboutMe1 {
      background-color: #37BCC3;
      color: #ffffff;
    }

    #aboutMe2 {
      background-color: #67CDD2;
      color: #ffffff;
    }

    #aboutMe3 {
      background-color: #118187;
      color: #ffffff;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
      padding: 30px;
    }

    .container-fluid {
      padding-top:0;
      padding-bottom: 0;
      margin-top: 0;
    } 

    .navbar {
      padding-top: 20px;
      padding-bottom: 20px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 3px;
      margin-top: 0;
    } 

    .navbar-nav li a:hover {
      color: red!important;
    }
    .bg-4{
      padding: 30px;
    }
  </style>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="head">ABOUT TEAM</p>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="\"><b>GOOD HEALTH GOOD LIFE</b></a></li>
          <li><a href="\news"><b>NEWS</b></a></li>
          <li><a href="\assessment"><b>HEALTH ASSESSMENT</b></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid" id="aboutMe">
    <div class="row">
      <div class="col-sm-4" id="aboutMe1">
        <img src="https://sv1.picz.in.th/images/2020/03/28/QPjWkb.png"  width="450" height="480">
       
        <p style="color:black ; text-align: center;">น.ส.เจษฎาภรณ์ พุทธโกศัย<br>รหัสนิสิต 61102010139</p>
      </div>
      <div class="col-sm-4" id="aboutMe2">
        <img src="https://sv1.picz.in.th/images/2020/03/28/QPby1D.png"  width="450" height="480">
       
        <p style="color:black; text-align: center;">น.ส.ณริสสา ดาราวรรณกุล<br>รหัสนิสิต 61102010142</p>
      </div>
      <div class="col-sm-4" id="aboutMe3">
        <img src="https://sv1.picz.in.th/images/2020/03/28/QPbL61.png"  width="450" height="480">

        <p style="color:black; text-align: center;">น.ส.ปิยธิดา ไทยง้วน<br>รหัสนิสิต 61102010153</p>
      </div>
    </div>
  </div> 

  <footer class="container-fluid bg-4 text-center">
    <p class="text-center" style="text-align: center; color: white;">©powerslimgirl</p>
  </footer>
</body>

</html>