</html><!DOCTYPE html>
<html lang="en">

<head>
  <title>GOOD HEALTH GOOD LIFE</title>
  <link rel="icon" type="image/png" href="https://uppic.cc/d/6s5D" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    .head {
      font-size: 25px;
      color:  #1abc9c;

    }

    .bg-1 {
      background-color: #C7F0E8;
      /* Green */
      color: #ffffff;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
      padding: 30px;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 20px;
      padding-bottom: 20px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 3px;
      text-decoration: none;
    }

    .navbar-nav li a:hover {
      color: red !important;
      text-decoration: none;
    }

    a :hover {
      text-decoration: none;
    }

    .bg-4 {
      padding: 30px;
    }

    img {
      width: 1000px;

    }

    .Corousel {
      width: 1000px;
      
    }

    .context {
      color: #2f2f2f;
      text-align: center;
      font-size: 20px;
      margin-top:10px;
      background-color: #C7F0E8;
    }

    .box1 {
      display: inline-block;
      width: 300px;
      text-align: left;
     color: #2f2f2f;
      font-size: 20px;
      background-color: rgb(171, 243, 233);
    }

    .box2 {
      display: inline-block;
      width: 500px;
      text-align: left;
      color: #2f2f2f;
      font-size: 20px;
      background-color: rgb(247, 203, 162);
    }
    
  </style>
</head>

<body>

  <!------- Navbar --------->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="head">GOOD HEALTH GOOD LIFE</p>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="\about"><b>ABOUT TEME</b></a></li>
          <li><a href="\news"><b>NEWS</b></a></li>
          <li><a href="\assessment"><b>HEALTH ASSESSMENT</b></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-------Corousel--------->
  <div class="container Corousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://uppic.cc/d/6hrH" alt="Los Angeles">
        </div>

        <div class="item">
          <img src="https://www.atholhospital.org/images/athBanner/imgBanner/banner2.png" alt="Chicago">
        </div>

        <div class="item">
          <img src="https://uppic.cc/d/6hrM" alt="New york">
        </div>
      </div>
      <br>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
  <!-----button----->
  <div class="text-center">
    <a class="btn btn-primary" href="\assessment" class="btn btn-success">Start to check your health</a>
  </div>


  <div class="container context">
    
    <h1>BLOG News disease</h1>
    <br>
    <h2>โรค COVID 19 คืออะไร</h2>
    <p>โรคติดเชื้อไวรัสโคโรนา (COVID-19) จะออกอาการไม่รุนแรง โดยจะมีอาการน้ำมูกไหล เจ็บคอ ไอ และมีไข้
      อาการป่วยอาจรุนแรงขึ้นได้สำหรับบางคน และทำให้เกิดภาวะปอดอักเสบหรือหายใจลำบาก
      โรคอาจรุนแรงถึงขั้นเสียชีวิตซึ่งพบไม่บ่อย ผู้สูงอายุและผู้ที่มีสภาวะป่วยไข้อื่นๆ<br>(เช่น หืดหอบ เบาหวาน
      หรือโรคหัวใจ) อาจมีความเสี่ยงมากขึ้นที่อาการป่วยจะรุนแรง</p>
    <table style="width: 100%;">
      <tr>
        <td>
          <div class="box1 ">
            <p><b>ผู้ที่ติดเชื้ออาจมีอาการดังนี้</b><br>
              1.น้ำมูกไหล<br>
              2.เจ็บคอ<br>
              3.ไอแห้ง ติดต่อยาวนาน 4 วัน<br>
              4.มีไข้ สูงกว่า 37.5 องศา<br>
              5.หายใจลำบาก (กรณีรุนแรง)</p>
          </div>
        </td>
        <td>
          <div class="box2 ">
            <p><b>หลักการป้องกัน</b><br>
              1.ล้างมือบ่อยๆ ด้วยเจลล้างมือที่มีส่วนผสมของแอลกอฮอล์หรือใช้สบู่และน้ำ<br>
              2.ปิดปากและจมูกทุกครั้งที่ออกภายนอกบ้าน<br>
              3.หลีกเลี่ยงการสัมผัสใกล้ชิด (ในระยะ 2เมตร) <br>
              4.งดออกเดินทาง ถ้าไม่จำเป็นให้อยู่แต่บ้าน<br>
              5.รับประทานอาหาร โดยการตักส่วนของตนเอง (ไม่ใช้ช้อนกลางร่วมกัน)<br>
            </p>
          </div>
        </td>
      </tr>
    </table>
    <p style="color: red;">หากพบว่าตนเองได้เข้าไปอยู่ในพื้นที่เสี่ยง หรือ อยู่ใกล้ผู้ที่ติดโควิด19 ให้รีบเข้าไปตรวจรักษาที่โรงพยาบาล
    และกักตนเองให้อยู่บ้าน 14-21วัน</p>
  </div>

  <br>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p class="text-center" style="text-align: center; color: white;">©powerslimgirl</p>
  </footer>

</body>

</html>